@font-face {
    font-family: "SkolaMedium";
    src: url("./fonts/SkolaSansProOTF/SkolaSans-Medium.otf") format("truetype");
}
@font-face{
    font-family: "SkolaRegular";
    src: url("./fonts/SkolaSansProOTF/SkolaSans-RegularItalic.otf") format("truetype");
}

@font-face{
    font-family: "SkolaLight";
    src: url("./fonts/SkolaSansProOTF/SkolaSans-Light.otf") format("truetype");
}
@font-face{
    font-family: "SkolaRegularItalic";
    src: url("./fonts/SkolaSansCnProOTF/SkolaSansCn-RegularItalic.otf") format("truetype");
}

* {padding: 0; margin: 0;}
body{ font-family: "SkolaMedium", Verdana, Tahoma; background: #07AEE5;  z-index: 0; padding: 0px; margin: 0px;  margin-bottom: 5px;}
.top-bar{text-align: right;padding-bottom: 18px;}
.wrapper{background: white  url('./img/background.png'); background-size: 100%; background-repeat: no-repeat;}
.twitter a{background:url('./img/twitter.png?v=03'); background-repeat: no-repeat; width: 32px; height: 32px;}
.share-icon a{background:url('./img/share.png'); background-repeat: no-repeat; width: 43px; height: 43px;}
.email-icon a{background:url('./img/email.png'); background-repeat: no-repeat; width: 43px; height: 43px;}
.chat-icon a{background:url('./img/chat.png'); background-repeat: no-repeat; width: 43px; height: 43px;}
.twitter a:hover{background:url('./img/twitter_hover.png');}
.facebook a{background:url('./img/facebook.png?v=02'); background-repeat:  no-repeat; width: 32px; height: 32px;}
.facebook a:hover{background:url('./img/facebook_hover.png');}
.instagram a{background:url('./img/instagram.png?v=02'); background-repeat:  no-repeat; width: 32px; height: 32px;}
.instagram a:hover{background:url('./img/instagram_hover.png');}
.youtube a {background:url('./img/youtube.png?v=01'); background-repeat:  no-repeat; width: 32px; height: 32px;}
.youtube a:hover {background:url('./img/youtube_hover.png');}
.linkedin a{background:url('./img/linkedin.png?v=02'); background-repeat:  no-repeat; width: 32px; height: 32px;}
.linkedin a:hover{background:url('./img/linkedin_hover.png');}
/* Bottom */
.twitter-b a{background:url('./img/twitter-b.png?v=03'); background-repeat: no-repeat; width: 60px; height: 60px;}
.facebook-b a{background:url('./img/facebook-b.png?v=01'); background-repeat:  no-repeat; width: 60px; height: 60px;}
.linkedin-b a{background:url('./img/linkedin-b.png?v=01'); background-repeat:  no-repeat; width: 60px; height: 60px;}
.instagram-b a{background:url('./img/instagram-b.png?v=01'); background-repeat:  no-repeat; width: 60px; height: 60px;}
.youtube-b a{background:url('./img/youtube-b.png?v=01'); background-repeat:  no-repeat; width: 60px; height: 60px;}

.social, .share, .user { z-index: 1; display: inline-block; padding: 0px;}
.search {display: inline-block;position: relative;top: -18px;margin-left: 10px;}
.search input{border-radius: 7px;  border: none;  padding: 7px;outline: none;}
.social li, .share li, .user li, .social-bottom li {list-style-type: none; display: inline-block; }
.social li  a, .share li a, .social-bottom li a{display: inline-block;  cursor: pointer; transition: all 0.5s ease; }
.posiciones a{background:url('./img/posiciones.png?v=03'); background-repeat: no-repeat; width: 90px; height: 90px; display: inline-block; float: left;}
.olimpismo a{background:url('./img/olimpismo.png?v=02'); background-repeat: no-repeat; width: 109px; height: 109px; display: inline-block; float: left;}
.oficiales a{background:url('./img/oficiales.png?v=02'); background-repeat: no-repeat; width: 109px; height: 109px; display: inline-block; float: left;}
.boletin a{background:url('./img/boletin.png?v=02'); background-repeat: no-repeat; width: 188px; height: 90px; display: inline-block; float: left;margin-top: 10px;margin-left: 5px;margin-right: 5px;}
.media a{background:url('./img/media.png?v=02'); background-repeat: no-repeat; width: 90px; height: 90px; display: inline-block; float: left;margin-left: 5px;margin-top: 10px;}
.calendario a{background:url('./img/calendario.png?v=02'); background-repeat: no-repeat; width: 90px; height: 90px; display: inline-block; float: left;/* margin-top: 10px; */margin: 10px 5px;}
.contacto a{background:url('./img/contacto.png?v=02'); background-repeat: no-repeat; width: 188px; height: 90px; display: inline-block; float: left;/* margin-top: 10px; */margin: 0px 5px;}
.ubicanos a{background:url('./img/ubicanos.png?v=02'); background-repeat: no-repeat; width: 90px; height: 90px; display: inline-block; float: left;/* margin-top: 10px; */margin: 0px 5px;}
.toronto a{background:url('./img/toronto.png?v=02'); background-repeat: no-repeat; width: 188px; height: 90px; display: inline-block; float: left;/* margin-top: 10px; */margin: 10px 5px;}
.toronto_atletas a{background:url('./img/toronto_atletas.png?v=03'); background-repeat: no-repeat; width: 250px; height: 188px; display: inline-block; margin-top: 0px;/* margin: 0px 20px; */}
.punto_olimpico a{background: url('./img/punto_olimpico.png?v=03'); background-repeat: no-repeat; width: 250px; height: 43px; display: inline-block; margin-top: 10px;/* margin: 10px 5px; */}
.sq a { margin: 0px 5px; width: 90px; height: 90px;}
.atletas{float: left;margin: 0px 20px;z-index: 2;position: relative;}
nav{ text-align: right;}
.actions {float:right; max-width: 300px; width: 100%;/* margin-top: 30px; *//* margin-right: -10px; *//* background-color: rgb(255, 237, 182); *//* padding: 5px; */padding-right: 0px;}
.container{width: 100%; max-width: 1200px; margin: 0 auto;}
.menu {width: 100%; max-width: 690px; float: right;}
.menu li {display: inline-block; list-style-type: none;margin-bottom: 10px;}
.menu li  a{ text-decoration: none; color: white; display: inline-block; background: #07AEE5; width: 130px; text-align: center; padding: 8px 0px;
border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; transition: background 0.5s ease;}
.menu li a:hover {background: #FFF; color: #07AEE5;}
span.username {  background-color: #E2E6EB; padding: 5px 10px;  width: 156px; display: inline-block; font-size: 12px;  text-align: center;  position: relative;  top: -14px;  left: -10px;  z-index: -1;}
.clear {clear: both;margin-bottom: 0px;}
.user-icon{z-index:2;}
.noticias-slider { float: left;    background-color: rgb(202, 202, 202);    width: 645px;    height: 389px;    margin-top: 5px;}
.body { margin-top: 70px; width: 100%; padding: 0px;}
.noticias-slider { float: left; width: 645px;    height: 389px;    margin-top: 0px;}
.twitter-box{    float: left;     width: 216px;    height: 389px;   background-color: #F7C324;   margin-left: 25px;   border-radius: 10px;   border: 1px solid rgb(248, 221, 138);     margin-top: 0px; }
.noticias{float: left; width: 100%; max-width: 560px;  background-color: rgba(255, 255, 255, 0.39);  padding: 20px;  border-radius: 10px;  font-family: "SkolaRegular", Verdana, Tahoma;height: 201px;position: relative;z-index: 2;position: relative;}
.noticias h1 { color:#0B7DBF; font-style: italic; font-size: 24px; margin-bottom: 10px;}
.plus{text-align: right;margin: 0px;position: absolute;bottom: 20px;right: 20px;}
.jugador{width: 420px;  margin-top: -30px;}
.jug{position: absolute; right:0px; margin-top: 0px;z-index: 0;}
.logo img{width: 250px;margin-top: 0px;}
ul.social {    top: -5px;     position: relative;     margin-right: 30px;}
#search {  background: url("./img/search.png") no-repeat scroll 0 0 transparent;   color: #000000;  cursor: pointer;   height: 20px;   padding: 0px;   width: 20px;   color: transparent;   margin-left: 5px; }
.banner{  padding: 60px 0px;  text-align: center;  background-color: rgba(255, 255, 255, 0.47);  border-radius: 10px;  color: rgb(11, 125, 191);}
.redes span {color: white;  font-size: 22px; font-family:"SkolaRegular", Verdana, Tahoma}
.redes {  text-align: center;  float: right;  margin-bottom: 10px;  margin-top: 20px;}
.videos, .galeria {  width: 48%;  height: 324px;   background-color: rgba(255, 255, 255, 0.52);   float: left;  border-radius: 10px;  -webkit-border-radius: 10px;  -moz-border-radius: 10px;}
.videos{ margin-right: 4%;}
.row{ margin: 0px 0px 60px; clear: both;} 
ul.social-bottom {    padding: 0px;    margin-top: 15px;}
.social-bottom li {    margin: 0px 4px;}
.map {color:white;background-color: rgba(255, 255, 255, 0.2);padding: 8px 8px 0px;}
.map ul li {list-style: none;}
.map ul li a {text-decoration: none; color:white;}
.r9 {    width: 11%;    float: left;    font-size: 13px;}
.r9 ul {    padding: 0px;}
.r9 ul li {font-size:11px; padding: 5px 0px;}
.pat-ofic, .pat-loc{
  height: 40px;
  text-align: right;
  font-size: 9px;
  color: rgb(194, 194, 194);
  background-color: white;
  padding: 2px 2px;
}
.pat-loc {height: auto; margin-top: 5px;padding: 0px;}
.cred{ background: #656565; font-size: 11px;  color: white; margin-top: 15px; padding: 4px 0px;}
.cred p {  display: inline-block; font-family: "SkolaLight", Verdana, Tahoma;  line-height: 27px;}
.cred img {vertical-align: middle;}
.cred ul li {list-style: none; display: inline-block;}
.cred ul {display: inline-block;}
.last {margin-bottom: 0px; padding-bottom: 0px;}
/*Patrocinantes*/
.pat-loc ul li {list-style-image: none; display: inline-block;margin: 0px 30px;vertical-align: middle;}
.pat-loc ul {text-align: left;}
div.right{  float: right;  margin-right: 50px;}
.header {
    padding-top: 25px;
    padding-bottom: 0px;
}
.twitter-box h1 {
    font-size: 20px;
    font-style: italic;
    padding: 3px 0px;
    color: #FFFFFF;
    margin-bottom: 5px;
    font-family: SkolaRegularItalic, Verdana, Tahoma;
    text-align: center;
}
.twitter-box h1 img{ vertical-align: middle; height: 25px;}
.noticias p {
    line-height: 22px;
}
